.navbar {
  display: flex;
  flex-direction: column;
  z-index: 2;
  //   justify-content: center;
  align-items: center;
  background-color: #013914;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  &.active {
    background-color: white;
    color: black;
  }
  .container {
    display: flex;
    width: var(--width-size);
    justify-content: space-between;
    padding: 20px 0;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .logo-txt {
      }
      .logo-dot {
        color: #3eff7f;
      }
    }
    .links {
      display: flex;
      gap: 20px;
      align-items: center;
      font-weight: 500;
      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .user {
        display: flex;
        align-items: center;
        position: relative;
        gap: 10px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          display: flex;
          position: absolute;
          background: #ffffff;
          gap: 10px;
          top: 35px;
          right: -15px;
          color: black;
          flex-direction: column;
          padding: 20px;
          width: 150px;
          border: 1px solid black;
          border-radius: 10px;
        }
      }

      button {
        padding: 10px 20px;
        background-color: transparent;
        outline: none;
        border-radius: 6px;
        color: white;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.1s all ease;
        &.btn-chg {
          border: 1px solid black;
          color: black;
        }
        &:hover {
          background-color: #3eff7f;
          border: 1px solid #3eff7f;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0px;
    border: 1px solid rgb(235, 235, 235);
  }
  .menu {
    margin-top: 2px;
    padding: 6px;
    font-weight: 500;
    width: var(--width-size);
    display: flex;
    justify-content: space-between;
    color: gray;
    span {
      cursor: pointer;
    }
  }
}
